@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_irreversible.png);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_irreversible_mobile.png);
    }

    .button {
        margin-top: 2vw;
        margin-bottom: 8px;
    }

    &__content {
        max-width: 640px;

        &__branding {
            max-width: 480px;
            margin: 0 auto 20px;

            img {
                width: 100%;
            }
        }

        .title--small {
            margin-bottom: 32px;
        }

        p {
            margin-bottom: 32px;

            &:last-child {
                margin-top: 60px;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            margin: 0 64px;

            @media (max-width: 768px) {
                display: block;
            }

            &__button {
                max-width: 1000px;
                
                @media (max-width: 768px) {
                    b {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

